

h2{
	font-size: 35px;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}


h3{
	color: $dark-green;
	font-size: 27px;
	font-weight: 400;
	text-transform: uppercase;
}

h4{
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 500;
	color: #444;
}

h5{
	font-weight: 400;
	color: $dark-green;
	font-family: 'Merienda', cursive;
}
