/*=====Navbar Section====*/
.navbar{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: auto;
	background-color:rgba($color: #fff, $alpha: 0.8);
	ul{
		display: flex;
		color: $white;
		list-style: none;
		margin-bottom: 0;


		a{
			text-decoration: none;
			padding: 15px;
			display: block;
			color: #333;
			font-size: 20px;
			&.active{
             color: $dark-green;
			}
		}
	}
}